/* Basic structure for the slideshow container */
.hero-slideshow-container {
    position: relative;
    overflow: hidden; /* Important to contain the slides */
    /* You might want to set a fixed height here or let the content determine it */
     height: 800px; 
}

/* Individual slides */
.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
}

.hero-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30); /* Adjust opacity as needed */
    z-index: 1; /* Ensure it's above the image */
}

.hero-content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center;
    color: white;
    z-index: 2; /* Ensure it's above the overlay */
    max-width: 80%; /* Adjust as needed */
}

.hero-content-overlay h1 {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.hero-content-overlay h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
}

.hero-content-overlay p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


.hero-container {
  position: relative; /* Create a positioning context */
  width: 100%; /* Adjust as needed */
  height: 800px; /* Adjust as needed */
  overflow: hidden;
}

.hero-slide.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
  view-transition-name: slide;
}

.hero-overlay, .hero-content-overlay {
  opacity: 8;
  position: absolute;
}

@keyframes slideshow {
  0% { opacity: 0.75; }
  33.333% { opacity: 1; }
  33.334% { opacity: 0; }
  100% { opacity: 0; }
}

.hero-slide.fade:nth-child(1) {
    animation: slideshow 24s linear infinite;
    animation-delay: 0s;
}

.hero-slide.fade:nth-child(2) {
    animation: slideshow 24s linear infinite;
    animation-delay: 8s;
}

.hero-slide.fade:nth-child(3) {
    animation: slideshow 24s linear infinite;
    animation-delay: 16s;
}

   